.card {
  height: 320px;
  width: 300px;
  /* position: relative;
  z-index: 20; */
  display: flex;
  flex-direction: column;
  justify-content: end;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 20px;
  cursor: pointer;
}
.card:hover {
  border: 0.1px solid white;
}
/* .card:after {
  content: "";
  position: relative;
  z-index: 3;
  height: 320px;
  width: 270px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  background: linear-gradient(180deg, transparent 0, transparent 30%, #000);
  opacity: 1;
  border-radius: 20px;
} */

.card p {
  position: relative;
  z-index: 20;
  color: white;
  font-size: 16px;
  background: linear-gradient(180deg, transparent 0, transparent 30%, #000);
  margin: 0 !important;
  padding-top: 100%;
  padding-bottom: 30px;
  border-radius: 0 0 20px 20px;
  overflow: scroll;
  width: 300px;
}
.card p::-webkit-scrollbar {
  display: none;
}
